# apply clang-format to all source code in directory
# find <dir> -iname '*.h' -o -iname '*.c' -o -iname '*.cuh' -o -iname '*.cu' | xargs clang-format -i

Language: Cpp
BasedOnStyle: LLVM

# current formatting style
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true